.bground {
    background-image: url('https://cdn.wallpapersafari.com/13/10/JeNkc3.jpg');
    height: 80vh;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}
